<!doctype html>
<html en="utf-8" lang="no" ng-app="app" ng-controller="controller as vm"> 
<head>
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Novanet påskenøtter 2017</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row" style="padding: 40px;">
            <div class="col-lg-6">
                <br>
                <br>
                <br>
                <a href="http://www.novanet.no"><img class="logo" src="http://novanet.no/Content/Images/novanet-logo.svg"></a>
                <h1>Påskenøtter 2017</h1>
                <br>
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-check-square fa-lg"></i><strong>Alle</strong> kan delta!</li>
                    <li><i class="fa-li fa fa-check-square fa-lg"></i>Utfordre venner og kjente, inkluder familie, ta med nøttene på hytta om du vil
                    <li><i class="fa-li fa fa-check-square fa-lg"></i>Vinn en flott premie - Nintendo Switch</li>
                </ul>

            </div>
            <div class="col-lg-6">
                <br>
                <br>
                <img class="pull-right" width="100%" src="switch.jpg">
                <br>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12 well easterbg">
                <h2>Hvordan fungerer det?</h2>
                Konkurransen går ut på å gjette seg frem til steder basert på en rekke rebuser. Her gjelder det å være kreativ! <br><br>
                Man kan svare flere ganger, det er siste svar som teller.<br><br>
                Svar og vinner publiserer på <a href="http://www.novanet.no">Novanet.no</a>. Vinneren trekkes fra de som har flest riktige svar<br><br>
                <strong>Svarfrist er 17.april (kl. 23:59)</strong>
                <br>
                <br>
            </div>
        </div>    
        <br> 
        <div class="row">
            <div class="col-lg-12 well table-header">
                <h2>Steder i Norge</h2>                
                <table class="table">
                    <thead>                        
                        <tr>
                            <th>#</th>
                            <th>Rebus</th>
                            <th>Svar</th>
                        </tr>
                    </thead>
                    <tbody class="rebus">
                        <tr ng-repeat="nut in vm.nuts" ng-if="nut.domestic">
                            <td>{{nut.id}}.</td>
                            <td>{{nut.q}}</td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-lg-12 well table-header">
                <h2>Steder i utlandet</h2>            
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Rebus</th>
                            <th>Svar</th>
                        </tr>
                    </thead>
                    <tbody class="rebus">
                        <tr ng-repeat="nut in vm.nuts" ng-if="!nut.domestic">
                            <td>{{nut.id}}.</td>
                            <td>{{nut.q}}</td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br><br>
           <div class="row">
            <div class="col-lg-12 well">
               <div class="text-center">
                <h2>Hvem er du?</h2>
                <h5>Påkrevd - slik at vi vet hvor vi skal sende premien</h5>
                <br>
                </div>
                <div class="col-lg-6 col-lg-offset-3">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inpName" class="col-sm-2 control-label">Navn</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inpName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inpEmail" class="col-sm-2 control-label">Epost</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inpEmail">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inpCompany" class="col-sm-2 control-label">Firma</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inpCompany">
                            </div>
                        </div>
                    </form>
                    <br>
                </div>
            </div>
        </div>              
        <div class="row">
            <div class="col-lg-12 text-center" style="padding:40px;">                
                <a class="btn btn-primary btn-lg">Send inn svar</a>
                <br><br>
                <h5>Man kan sende inn flere ganger, det er siste innsendte svar som teller</h5>
                <br>
            </div>
        </div>
    </div>
    <div class="row well table-header footer text-center" style="margin-left:0; margin-right:0;>
        <div class="col-lg-12 text-center">
            <br>
            <h2>Synes du dette var morsomt?</h2>            
            <br>
            <h4>Liker du å utfordre deg selv, og å komme opp med gode løsninger?</h4>
            <h4>Ønsker du å lære av de beste?</h4>
            <br>
            <h3><a href="http://www.novanet.no">Les mer om oss på Novanet.no</a></h3>
            <br>
            <br>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/lodash/4.11.1/lodash.min.js"></script>
<script type="text/javascript" src="angular.js"></script>